<!DOCTYPE html>
<html>
  <head>
    <title>MemeBot RandomPredict</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>

    {% if msg %}
    <h1>{{ msg }}</h1>
    {% endif %}
    
    <h1 class="w3-blue">Upload Meme</h1>
    
    <form method=post enctype=multipart/form-data>
      <p><label class="fileContainer">Choose File<input type=file name=file></label>
         <input type=submit value=Upload>
    </form>

    {% if img_src %}
    <p>
      Input Img:
      <img src="{{ img_src }}" width="250px">
    </p>
    {% endif %}
    
    {% if best_reply_meme %}
    <p class="w3-blue">
      Extracted img caption is {{extracted_img_caption}}
    </p>
    <p class="w3-blue">
      Generated reply is {{generated_reply}}
    </p>
    <p>
      Reply Img:
      <img src="{{ best_reply_meme }}" width="250px">
    </p>
<!--    <p>-->
<!--      Choose the BEST REPLY PLZ-->
<!--    </p>-->
<!--    <table width="500" border="0" cellpadding="5" style="color: white;">-->

<!--      <tr>-->
<!--        <td align="center" valign="center">-->
<!--          <img src="{{ best_reply_meme }}" width="250px">-->
<!--          <br/> Best reply to the meme-->
<!--        </td>-->

<!--        <td align="center" valign="center">-->
<!--          <img src="{{ second_reply_meme }}" width="250px">-->
<!--          <br/> Second best reply to the meme-->
<!--        </td>-->

<!--        <td align="center" valign="center">-->
<!--          <img src="{{ third_reply_meme }}" width="250px">-->
<!--          <br/> Third best reply to the meme-->
<!--        </td>-->

<!--        <td align="center" valign="center">-->
<!--          <img src="{{ random_meme }}" width="250px">-->
<!--          <br/> Random meme-->
<!--        </td>-->
<!--      </tr>-->

<!--    </table>-->

<!--    <form action="/upload" method = "POST">-->
<!--      <input type="radio" name="0" value="{{ img_src }}">1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--      <input type="radio" name="1" value="{{ img_src }}">2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--      <input type="radio" name="2" value="{{ img_src }}">3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--      <input type="radio" name="3" value="{{ img_src }}">4-->
<!--      <p><input type = "submit" value = "Submit" /></p>-->
<!--    </form>-->

    {% else %}
      The reply meme will be displayed here
    {% endif %}
  </body>
</html>
    